Package: com.fogboundsloth25.musordroptrolltweak
Name: MusorDropTrollTweak
Version: 1.2.0
Architecture: iphoneos-arm
Description: Entertainment prank video overlay tweak with configurable repeating timer.
Maintainer: FogboundSloth25
Author: FogboundSloth25
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
