Package: com.fogboundsloth25.musordroptrolltweak
Name: MusorDropTrollTweak
Version: 1.0.1
Architecture: iphoneos-arm
Description: Entertainment prank video overlay tweak.
Maintainer: FogboundSloth25
Author: FogboundSloth25
Section: Tweaks
Depends: preferenceloader
