<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.fogboundsloth25.musordroptrolltweakprefs</string>
    <key>CFBundleName</key>
    <string>MusorDropTrollTweakPrefs</string>
    <key>CFBundleDisplayName</key>
    <string>MusorDropTrollTweak</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
</dict>
</plist>
